# app
APP_ENV='development'
SERVER_PORT=8080

# db
DATABASE_URL='postgres://postgres:postgres@localhost:5432/daily_adhkar?sslmode=disable'

# unosend
UNOSEND_API_KEY='your_unosend_api_key'
UNOSEND_BASE_URL='https://www.unosend.co/api/v1/emails'
DEFAUL_EMAIL_SENDER='Daily Adhkar <noreply@send.deentab.app>'
COMPANY_NAME='Daily Adhkar'
FRONTEND_BASE_URL='http://localhost:8080'

# email
EMAIL_SEND_TIME='10:00AM'
EMAIL_SEND_LIMIT=10

# cors
CORS_ALLOWED_ORIGINS='http://localhost:3000'
CORS_ALLOWED_METHODS='GET,POST,PUT,PATCH,DELETE,OPTIONS'
CORS_ALLOWED_HEADERS='Authorization,Content-Type,X-Request-ID'
CORS_ALLOW_CREDENTIALS='true'
