APP_ENV=development
SERVER_PORT=8080
DATABASE_URL=postgres://postgres:postgres@localhost:5432/daily_durood?sslmode=disable
UNOSEND_API_KEY=your_unosend_api_key
EMAIL_SEND_TIME=10:00AM
EMAIL_SEND_LIMIT=10

